<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
 </configSections>
 <appSettings/>
	<connectionStrings>
  <add name="XareuDBConnectionString" connectionString=""
   providerName="System.Data.SqlClient" />
  <add name="XareuServices.Properties.Settings.XareuDB" connectionString="" />
 </connectionStrings>
	<system.web>
		<!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="XareuServices.Service1Behavior" name="XareuServices.XareuService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.IXareuService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.XareuLoginServiceBehavior" name="XareuServices.XareuLoginService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.IXareuLoginService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.Services.XareuPublicationServiceBehavior" name="XareuServices.Services.XareuPublicationService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.Services.IXareuPublicationService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.API.LoginServiceBehavior" name="XareuServices.API.LoginService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.API.ILoginService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.API.PublicationServiceBehavior" name="XareuServices.API.PublicationService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.API.IPublicationService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.API.GroupServiceBehavior" name="XareuServices.API.GroupService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.API.IGroupService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.API.TagServiceBehavior" name="XareuServices.API.TagService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.API.ITagService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.API.LocationServiceBehavior" name="XareuServices.API.LocationService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.API.ILocationService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.API.PlaceServiceBehavior" name="XareuServices.API.PlaceService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.API.IPlaceService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.API.VoteServiceBehavior" name="XareuServices.API.VoteService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.API.IVoteService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="XareuServices.API.UserServiceBehavior" name="XareuServices.API.UserService">
				<endpoint address="" binding="wsHttpBinding" contract="XareuServices.API.IUserService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="XareuServices.Service1Behavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.XareuLoginServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.Services.XareuPublicationServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.API.LoginServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.API.PublicationServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.API.GroupServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.API.TagServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.API.LocationServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.API.PlaceServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.API.VoteServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="XareuServices.API.UserServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
